*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    height: 80px;
    padding: 0 10vw;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.navbar, .navbar ul{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    padding: 0 25px;
}
.navbar  a{
    color: white;
    text-transform: uppercase;
}

.backgroundae{
    top: 0px;
    position: absolute;
    height: 60px;
    width: 70px;
    background-color:  #68d372;
}

.abr a{
    position: absolute;
    z-index: 999;
}

.navbar .moncv {
    background-color: #68d372;
    height: 40px;
    width: 145px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
} 






.hero{
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 10vw;
    height: auto;
}

.hero .lefthero{
    margin-right: 50px;
}
.hero .title{  
    color: #ffffff;
    font-size: 2.5vw;
} 

.hero .title, .description, .cta, .next {
    margin-bottom: 10px;
}

.hero .title span {
    color: #68d372;
}

.hero .righthero img{
  width: 100%;
  height: auto;
}

.hero .lefthero p, .hero .next{
    color: #6e6e6e;
}

.hero .cta a{
    color: #ffffff;
    margin: 15px;
    border: 2px solid #68d372;
    padding: 10px 40px;
    text-decoration: 0;
    border-radius: 5px;
}

.hero .cta a:nth-child(1){
    background-color: #68d372;
}

.hero .cta {
    margin: 20px 0;
    text-align: center;
}
.hero .next{
    text-align: center;
}
















.aboutme, .bio, .skills, .projects, .contact{
    /* height: 40vw; */
    background-color: #ffffff;
    padding: 0 10vw;
    margin-top: 50px;
    height: auto;
}


.aboutme .title, .bio .title, .skills .title, .projects .title, .contact .title {
    color: #68d372;
    text-align: center;
    margin: 40px 0;
    font-size: 1.5vw;
    font-weight: 800;
}

.aboutme .T1{
    display: flex;
    gap: 10px;
}

.aboutme .content, .bio .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}

/* .aboutme .leftcontent{
    width: 210%;
} */

.aboutme  h1, .bio h1{
    font-size: 2.5vw;
    font-weight: 800;
}

.aboutme span, .bio span {
    color: #68d372;
}

.aboutme p, .bio p, .skills p{
    color: #6e6e6e;
}



.bio .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bio .rightcontent h1{
    display: grid;
}



.bio img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 550px;
}


.skills{
    background-color: #222222;
}

.skills h2{
    color: rgb(200, 200, 200);
}




.skills .content {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Grille flexible */
    gap: 20px; /* Espace entre les éléments */
    justify-items: center; /* Centrer les icônes horizontalement */
    align-items: center; /* Centrer verticalement */
  }
  
  .skill {
    text-align: center;
  }
  
  .skill svg {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease; /* Effet de transition pour le hover */
  }
  
  .skill p {
    font-size: 1.2em;
    color: #ccc; /* Couleur du texte */
  }
  
  .skill:hover svg {
    transform: scale(1.1); /* Agrandir l'icône au survol */
  }





  .projects .projet{
    /*background-color: red;*/
    width: 100%;
    height: 75%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .projects .projet .card{
    width: 300px;
    height:80%;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid beige;
  }

  .projects p{
    margin-bottom: 20px;
    color: #6e6e6e;
  }
  .projects .code{
    display: flex;
    justify-content: space-evenly;
  }
  .projects a{
    color: #ffffff;
    background-color: #68d372;
    padding: 5px 10px;
    border-radius: 4px;
  }














  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


  .milestone{
    background-color: #222222;
    padding: 5vw 10vw; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.milestones{
  position: relative;
  height: 75%;
}
.milestones .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #68d372;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.milestones .row{
  display: flex;
}
.milestones .row-1{
  justify-content: flex-start;
}
.milestones .row-2{
  justify-content: flex-end;
}
.milestones .row section{
  border: 1px solid #68d372;
  background: #222222;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #222222;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 17px;
  box-shadow: 0 0 0 4px #68d372, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
  color: #b1b1b1;
}

.row section .date {
    color: #6e6e6e;
    position: relative;
    top: -50px;
    right: 390px;
}
.row section p{
  margin: 10px 0 17px 0;
  color: #6e6e6e;
}







.contact .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}


.contact .leftcontent{
    width: 60%;
}
.contact .rightcontent{
    width: 400px;
}

.contact form{
    display: flex;
    flex-direction: column;
}


.contact label {
    color: #6e6e6e;
    margin: 20px 0;
}


.contact a{
    color: #ffffff;
    background-color: #68d372;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    margin: 20px 0;
    align-self: flex-end;  /* aligner le button a droite*/
    text-align: center;
}

.contact input, textarea{
    border: none;
    border-bottom: 1px solid #6e6e6e;
    outline: none;
}




.footer{
  height: auto;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vw;
    justify-content: center;
}

.footer h3{
    margin-bottom: 15px;
}

.footer a {
    color: #6e6e6e;
}

.footer li{
    padding: 2px 0;
    margin: 2px 0;
}


.underfooter {
 padding: 0 10vw;  
 height: auto;
 align-items: center;
 text-align: center;
}
.underfooter p{
    text-align: center;
    align-items: center;
    margin: 35px 0;
}

.underfooter hr{
    color: #b1b1b1;
    background-color: #b1b1b1;
    border: 1px solid #b1b1b1;
    opacity: 0.25;
}





@media (max-width: 900px) {
  .hero, .bio .content, .contact .content, .aboutme .content{
      display: grid;
      grid-template-columns: 1fr;
  }
}


@media (max-width: 480px) {
  .navinfo, .moncv{
    display: none;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}




